In [1]:
# Load necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Load the dataset
file_path = r"C:\Users\LENOVO\Downloads\Survey.csv"
df = pd.read_csv(file_path)

In [3]:
# Inspect the data
print(df.head())
print(df.info())

        City Sex    Age      Occupation Monthly Household Income  Income  \
0  Bangalore   M  26-35  Private Sector         85,001 to105,000   95000
1  Bangalore   M  46-60  Government/PSU         45,001 to 65,000   55000
2  Bangalore   F  46-60  Government/PSU         25,001 to 45,000   35000
3  Bangalore   M  36-45  Private Sector                  >125000  200000
4  Bangalore   M  26-35   Self Employed         85,001 to105,000   95000

  Planning to Buy a new house Time Frame Reasons for buying a house  \
0                         Yes  6M to 1Yr                   Residing
1                         Yes  6M to 1Yr                 Investment
2                         Yes  <6 Months              Rental Income
3                         Yes  <6 Months                 Investment
4                         Yes     1-2 Yr                   Residing

  what type of House  ... 4. Availability of domestic help Time  Size Budgets  \
0          Apartment  ...                                1    9  1200    72.5
1          Apartment  ...                                2    9   800    32.5
2          Apartment  ...                                4    3   400    12.5
3          Apartment  ...                                5    3  1600   102.5
4          Apartment  ...                                3   18   800    52.5

  Maintainances  EMI.1  ages  sex  Finished/Semi Finished.1  \
0         30000  42500  30.5    M             Semifurnished
1           120  27500  53.0    M             Semifurnished
2         10000  10000  53.0    F             Semifurnished
3         70000  80000  40.5    M                 Furnished
4         30000  42500  30.5    M             Semifurnished

   Influence Decision.1
0           Site visits
1             Newspaper
2              Hoarding
3   Electronic/Internet
4   Electronic/Internet

[5 rows x 50 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   City                                       70 non-null     object
 1   Sex                                        70 non-null     object
 2   Age                                        70 non-null     object
 3   Occupation                                 70 non-null     object
 4   Monthly Household Income                   70 non-null     object
 5   Income                                     70 non-null     int64
 6   Planning to Buy a new house                70 non-null     object
 7   Time Frame                                 70 non-null     object
 8   Reasons for buying a house                 70 non-null     object
 9   what type of House                         70 non-null     object
 10  Number of rooms                            70 non-null     object
 11  Size of House                              70 non-null     object
 12  Budget                                     70 non-null     object
 13  Finished/Semi Finished                     70 non-null     object
 14  Influence Decision                         70 non-null     object
 15  Maintainance                               70 non-null     object
 16  EMI                                        70 non-null     object
 17  1.Proximity to city                        70 non-null     int64
 18  2.Proximity to schools                     70 non-null     int64
 19  3. Proximity to transport                  70 non-null     int64
 20  4. Proximity to work place                 70 non-null     int64
 21  5. Proximity to shopping                   70 non-null     int64
 22  1. Gym/Pool/Sports facility                70 non-null     int64
 23  2. Parking space                           70 non-null     int64
 24  3.Power back-up                            70 non-null     int64
 25  4.Water supply                             70 non-null     int64
 26  5.Security                                 70 non-null     int64
 27  1. Exterior look                           70 non-null     int64
 28  2. Unit size                               70 non-null     int64
 29  3. Interior design and branded components  70 non-null     int64
 30  4. Layout plan (Integrated etc.)           70 non-null     int64
 31  5. View from apartment                     70 non-null     int64
 32  1. Price                                   70 non-null     int64
 33  2. Booking amount                          70 non-null     int64
 34  3. Equated Monthly Instalment (EMI)        70 non-null     int64
 35  4. Maintenance charges                     70 non-null     int64
 36  5. Availability of loan                    70 non-null     int64
 37  1. Builder reputation                      70 non-null     int64
 38  2. Appreciation potential                  70 non-null     int64
 39  3. Profile of neighbourhood                70 non-null     int64
 40  4. Availability of domestic help           70 non-null     int64
 41  Time                                       70 non-null     int64
 42  Size                                       70 non-null     int64
 43  Budgets                                    70 non-null     float64
 44  Maintainances                              70 non-null     int64
 45  EMI.1                                      70 non-null     int64
 46  ages                                       70 non-null     float64
 47  sex                                        70 non-null     object
 48  Finished/Semi Finished.1                   70 non-null     object
 49  Influence Decision.1                       70 non-null     object
dtypes: float64(2), int64(29), object(19)
memory usage: 27.5+ KB
None

In [4]:
# Handle concatenated strings (if applicable)
df = df.apply(lambda x: x.str.split("(?<!\\w)(?=[A-Z])", expand=True)[0] if x.dtype == "object" else x)

In [5]:
# Verify the data after cleaning
print(df.head())
print(df.info())

  City Sex    Age Occupation Monthly Household Income  Income  \
0           26-35                    85,001 to105,000   95000
1           46-60                    45,001 to 65,000   55000
2           46-60                    25,001 to 45,000   35000
3           36-45                             >125000  200000
4           26-35                    85,001 to105,000   95000

  Planning to Buy a new house Time Frame Reasons for buying a house  \
0                              6M to 1Yr
1                              6M to 1Yr
2                                    <6
3                                    <6
4                                   1-2

  what type of House  ... 4. Availability of domestic help Time  Size Budgets  \
0                     ...                                1    9  1200    72.5
1                     ...                                2    9   800    32.5
2                     ...                                4    3   400    12.5
3                     ...                                5    3  1600   102.5
4                     ...                                3   18   800    52.5

  Maintainances  EMI.1  ages  sex  Finished/Semi Finished.1  \
0         30000  42500  30.5
1           120  27500  53.0
2         10000  10000  53.0
3         70000  80000  40.5
4         30000  42500  30.5

   Influence Decision.1
0
1
2
3
4

[5 rows x 50 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   City                                       70 non-null     object
 1   Sex                                        70 non-null     object
 2   Age                                        70 non-null     object
 3   Occupation                                 70 non-null     object
 4   Monthly Household Income                   70 non-null     object
 5   Income                                     70 non-null     int64
 6   Planning to Buy a new house                70 non-null     object
 7   Time Frame                                 70 non-null     object
 8   Reasons for buying a house                 70 non-null     object
 9   what type of House                         70 non-null     object
 10  Number of rooms                            70 non-null     object
 11  Size of House                              70 non-null     object
 12  Budget                                     70 non-null     object
 13  Finished/Semi Finished                     70 non-null     object
 14  Influence Decision                         70 non-null     object
 15  Maintainance                               70 non-null     object
 16  EMI                                        70 non-null     object
 17  1.Proximity to city                        70 non-null     int64
 18  2.Proximity to schools                     70 non-null     int64
 19  3. Proximity to transport                  70 non-null     int64
 20  4. Proximity to work place                 70 non-null     int64
 21  5. Proximity to shopping                   70 non-null     int64
 22  1. Gym/Pool/Sports facility                70 non-null     int64
 23  2. Parking space                           70 non-null     int64
 24  3.Power back-up                            70 non-null     int64
 25  4.Water supply                             70 non-null     int64
 26  5.Security                                 70 non-null     int64
 27  1. Exterior look                           70 non-null     int64
 28  2. Unit size                               70 non-null     int64
 29  3. Interior design and branded components  70 non-null     int64
 30  4. Layout plan (Integrated etc.)           70 non-null     int64
 31  5. View from apartment                     70 non-null     int64
 32  1. Price                                   70 non-null     int64
 33  2. Booking amount                          70 non-null     int64
 34  3. Equated Monthly Instalment (EMI)        70 non-null     int64
 35  4. Maintenance charges                     70 non-null     int64
 36  5. Availability of loan                    70 non-null     int64
 37  1. Builder reputation                      70 non-null     int64
 38  2. Appreciation potential                  70 non-null     int64
 39  3. Profile of neighbourhood                70 non-null     int64
 40  4. Availability of domestic help           70 non-null     int64
 41  Time                                       70 non-null     int64
 42  Size                                       70 non-null     int64
 43  Budgets                                    70 non-null     float64
 44  Maintainances                              70 non-null     int64
 45  EMI.1                                      70 non-null     int64
 46  ages                                       70 non-null     float64
 47  sex                                        70 non-null     object
 48  Finished/Semi Finished.1                   70 non-null     object
 49  Influence Decision.1                       70 non-null     object
dtypes: float64(2), int64(29), object(19)
memory usage: 27.5+ KB
None

In [6]:
# Select only categorical columns and numerical columns for clustering
categorical_cols = df.select_dtypes(include=['object'])
numerical_cols = df.select_dtypes(include=['float64', 'int64'])

In [7]:
# Handle missing values in numerical data
imputer = SimpleImputer(strategy='mean')
numerical_cols_imputed = pd.DataFrame(imputer.fit_transform(numerical_cols), columns=numerical_cols.columns)

In [8]:
# Encode categorical variables using One-Hot Encoding
encoder = OneHotEncoder(drop='first', sparse=False)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [9]:
# Encode categorical variables using One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Create OneHotEncoder object with 'drop' and 'sparse_output' arguments
encoder = OneHotEncoder(drop='first', sparse=False)

# Fit and transform the categorical columns
encoded_cat = encoder.fit_transform(categorical_cols)

# Convert the encoded categorical data into a DataFrame
encoded_cat_df = pd.DataFrame(encoded_cat, columns=encoder.get_feature_names_out(categorical_cols.columns))

# Combine encoded categorical data with numerical data
df_encoded = pd.concat([encoded_cat_df, numerical_cols_imputed], axis=1)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [10]:
# Combine encoded categorical data with numerical data
df_encoded = pd.concat([pd.DataFrame(encoded_cat, columns=encoder.get_feature_names_out(categorical_cols.columns)),
                        numerical_cols_imputed], axis=1)

NameError: name 'encoded_cat' is not defined

In [11]:
# Encode categorical variables using One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder

In [12]:
# Create OneHotEncoder object with 'drop' and 'sparse_output' arguments
encoder = OneHotEncoder(drop='first', sparse=False)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [13]:
# Fit and transform the categorical columns
encoded_cat = encoder.fit_transform(categorical_cols)

NameError: name 'encoder' is not defined

In [14]:
 Convert the encoded categorical data into a DataFrame
encoded_cat_df = pd.DataFrame(encoded_cat, columns=encoder.get_feature_names_out(categorical_cols.columns))

SyntaxError: invalid syntax (2995771536.py, line 1)

In [15]:
# Feature scaling
scaler = StandardScaler()
df_encoded_scaled = pd.DataFrame(scaler.fit_transform(df_encoded), columns=df_encoded.columns)

NameError: name 'df_encoded' is not defined

In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
# Create OneHotEncoder object with 'drop' and 'sparse_output' arguments
encoder = OneHotEncoder(drop='first', sparse=False)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [18]:
# Plot Elbow method
plt.figure(figsize=(10, 6))
plt.plot(range(1, 11), wss, marker='o', linestyle='--')
plt.xlabel('Number of Clusters')
plt.ylabel('Within groups sum of squares')
plt.title('Elbow Method for Optimal k')
plt.grid()
plt.show()

NameError: name 'wss' is not defined

In [19]:
# Perform KMeans clustering
k = 3  # Choose the optimal number of clusters based on the Elbow method or Silhouette score
kmeans = KMeans(n_clusters=k, random_state=0, n_init=20)
clusters = kmeans.fit_predict(df_encoded_scaled)

NameError: name 'df_encoded_scaled' is not defined

In [20]:
# Perform KMeans clustering
k = 3  # Choose the optimal number of clusters based on the Elbow method or Silhouette score
kmeans = KMeans(n_clusters=k, random_state=0, n_init=20)
clusters = kmeans.fit_predict(df_sur_int)

NameError: name 'df_sur_int' is not defined

In [21]:
# Add cluster labels to the original dataframe
df['Cluster'] = clusters

NameError: name 'clusters' is not defined

In [22]:

# Analyze cluster characteristics (e.g., centroids, cluster sizes)
cluster_summary = df.groupby('Cluster').mean().reset_index()
print(cluster_summary)

KeyError: 'Cluster'